<h1>Challenge Listing <small>{{eventController.event.Title}}</small></h1>
<p ng-if="eventController.event.Description" btf-markdown="eventController.event.Description" ></p>
<p>In this overview all challenges for the selected event are listed. If a challenge set is already started, you will be see the challenges to be solved in the next period. Within the given timespan you are able gain points for solving the challenges correctly. After expiring of a challenge set validation is still possible, but without receiving points for it. </p>
<div class="panel panel-default"
     ng-repeat="challengeSet in eventController.event.ChallengeSets | orderBy: 'StartDate'"
     ng-class="challengeSet.EndDate < eventController.dateNow ? 'panel-danger' : (challengeSet.StartDate > eventController.dateNow ) ? '' : 'panel-primary'">
    <div class="panel-heading">{{challengeSet.Title}}</div>
    <div class="panel-body">
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Solving challenges for points is possible between:<b> {{challengeSet.StartDate | date:'short':'+0000'}}</b> and <b>{{challengeSet.EndDate | date:'short':'+0000'}}</b></p>
        <p ng-if="challengeSet.Description" btf-markdown="challengeSet.Description"></p>
    </div>

    <!-- List group -->
    <ul class="list-group" ng-if="challengeSet.Challenges.length">
        <li class="list-group-item" ng-class="{'list-group-item-success': challenge.solvedChallenge}" ng-repeat="challenge in challengeSet.Challenges | orderBy: 'Id'">
            <button type="button" class="btn btn-xs btn-primary" ng-click="eventController.selectChallenge(challenge.Id)" data-toggle="modal" data-target="#startChallengeModal" ng-if="challenge.newChallenge">Start Challenge</button>
            <button type="button" class="btn btn-xs btn-primary" ng-click="eventController.selectChallenge(challenge.Id); eventController.openChallenge();" ng-if="challenge.accessedChallenge">Continue Challenge</button>
            <button type="button" class="btn btn-xs btn-success" ng-click="eventController.selectChallenge(challenge.Id); eventController.openChallenge();" ng-if="challenge.solvedChallenge">Review Challenge</button>
            {{challenge.Title}}
        </li>
    </ul>
</div>

<div class="modal fade" id="startChallengeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Start Challenged</h4>
            </div>
            <div class="modal-body">
                <p>By opening a challenge the time is running for you. You will receive more points if you solve it in a short time. Thus, you should only continue if you are going to start with the work.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">I'll come back later.</button>
                <button type="button" class="btn btn-primary" ng-click="eventController.openChallenge()">Yes, I want to start!</button>
            </div>
        </div>
    </div>
</div>