<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="row">
    <div class="col-md-9" ng-view></div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Event Information</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#!/view_eventList">Event List</a></li>
                    <li role="presentation" ng-if="sessionStorage.activeEvent"><a href="#!/view_event/{{sessionStorage.activeEvent.Id}}">Challenge List</a></li>
                    <li role="presentation" ng-if="sessionStorage.activeEvent"><a href="#!/view_ranking/{{sessionStorage.activeEvent.Id}}">Ranking</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hosting &amp; Development</h3>
            </div>
            <div class="panel-body">
                <p>This dashboard system is provided and hosted by FH Campus Wien.</p>
                <a href="https://www.fh-campuswien.ac.at/studium/studien-und-weiterbildungsangebot/detail/it-security-master.html" target="_blank"><img src="style/logo.svg" height="100"/></a>
            </div>
        </div>
    </div>
</div>