<div class="container ng-cloak">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="AuthenticationService.isLoggedIn()" class="navbar-brand" href="#!/view_main">Cyber Security Challenge</a>
        <a ng-if="!AuthenticationService.isLoggedIn()" class="navbar-brand" href="#!/view_welcome">Cyber Security Challenge</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!AuthenticationService.isLoggedIn()" ng-class="{ active: isActive('/view_login') }" class="pull-right">
                <a href="#!/view_login">Login</a>
            </li>
            <li ng-if="AuthenticationService.isLoggedIn()" ng-class="{ active: isActive('/view_profile') }" class="pull-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="ng-cloak" ng-if="SessionService.getUser().Avatar" height="20" ng-src="{{SessionService.getUser().Avatar}}" style="display:inline;" /> {{SessionService.getUser().UserName}} <span ng-if="SessionService.getUser().FirstName || SessionService.getUser().LastName">({{SessionService.getUser().FirstName}} {{SessionService.getUser().LastName}})</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/view_profile">User Profile</a></li>
                    <li><a ng-click="AuthenticationService.logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>