<h1>Login <small>to the Cyber Security Challenge</small></h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Login ...</h3>
    </div>
    <div class="panel-body">
        <ng-include src="'components/html/notification_service.html'"></ng-include>
        <form name="loginForm" ng-submit="loginController.login(user)" role="form" novalidate>
            <div class="form-group" ng-class="{'has-error': loginForm.username.$dirty && loginForm.username.$error.required}">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="user.username" placeholder="Username" ng-required="true" >
                <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$error.required}">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" ng-required="true">
                <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Password is required</span>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" >Login</button>
        </form>
    </div>
</div>